# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Maven
backend/target/
backend/.mvn/

# IDE
.idea/
*.iml
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

实验2.md 
实验2.pdf
教学班0790-01组-项目大作业文件（仅供参考）.docx
教学班0790-01组-项目大作业文件（仅供参考）.txt
